/*----------------
 Body
----------------*/
/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size: 62.5%;
    height:100%;
    min-height:100%;
}

body {
    color: $dark_color;
    font-family: $body_text, "Helvetica Neue", helvetica, arial, sans-serif;
    @include rem("font-size", 18);
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*----------------
 Headings
----------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: $primary_line_height;
    margin: 0 0 0.3em;
    padding: 0;
    font-weight: normal;
    color: $darker_color;
}


/*----------------
 List
----------------*/
ol {
  list-style: none; 
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul ul {
  padding-top: 8px;
}

li {
  padding-bottom: 8px;
}
dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}


/*----------------
 Links
----------------*/
a {
    text-decoration: none;

    &:hover,
    &:focus {
      cursor: pointer !important;
      outline: none;
      text-decoration: none; 
      color: $primary_color;
    }
}


/*----------------
 Button
----------------*/
button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0;
}


/*----------------
 Quotes
----------------*/
blockquote, 
q {
  quotes: none; 
}


blockquote:before, 
blockquote:after,
q:before, 
q:after {
  content: '';
  content: none; 
}

/*----------------
 Table
----------------*/
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
}

th {
    padding: 0.4em;
    text-align: left;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 0.4em;
}




/*----------------
 Forms
----------------*/
label {
    color: $primary_color;
    display: block;
    font-weight: 800;
    margin-bottom: 0.5em;
}

fieldset {
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.7em;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #222;
    border-color: #333;
}

select {
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 3em;
    max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
    background-color: $brand_color;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    @include rem("font-size", 18);
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
    padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
    background-color: #ddd;
    color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: $darker_color;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
    background: #bbb;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #333;
    font-family: $body_text, "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
    color: #333;
    font-family: $body_text, "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
    color: #333;
    font-family: $body_text, "Helvetica Neue", helvetica, arial, sans-serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: #333;
    font-family: $body_text, "Helvetica Neue", helvetica, arial, sans-serif;
}




/*----------------
 Formatting
----------------*/
hr {
    background-color: #bbb;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

img {
  max-width: 100%; 
}


strong {
  font-weight: 700; 
}

dfn,
cite,
em,
i {
    font-style: italic;
}