/**--------------------------
Site Footer
---------------------------- **/
.site-footer {
	padding: 50px 0 0 0;
	background: rgba(200, 210, 235, 0.3);
	text-align: center;

	@include min-breakpoint(768) {
		text-align: left;
	}
	.site-logo {
		margin: 0 auto;

		@include min-breakpoint(768) { 
			margin: 0;
		}
	}
	.site-info {
		display: none;

		@include min-breakpoint(768) {
			line-height: 21px;
			display: block;
			margin-top: 10px;
		}

	}

	.widget-area {
		margin-bottom: 30px;

		@include min-breakpoint(768) {
			margin: 0;
		}
		h3 {
			font-size: 19px;	
		}
		strong {
			color: $darkerblue_color;
		}
	}
	.social-links {
		margin-top: 10px;
		li {
			display: inline-block;
			margin-right: 7px;
			a {
				font-size: 20px;
				transition: all 0.3s ease;
			}
		}
	}


	&__bottom {
		padding: 20px 0 15px 0;
		text-align: center;

		@include min-breakpoint(768) {
			text-align: left;
		}
	}
}
.footer-navigation {
	margin-bottom: 20px;
	@include min-breakpoint(768) {
		margin-bottom: 0;
	}
	h3 {
		font-size: 19px;
	}
	ul {
		text-align: center;

		@include min-breakpoint(768) {
			text-align: left;
		}
		li {
			display: inline-block;

			@include min-breakpoint(768) {
				display: block;
			}

		}
	}
}
.footer-nav-extra {
	text-align: center;

	@include min-breakpoint(768) {
		text-align: right;
	}
	li {
		display: inline-block;
		margin-left: 10px;
	}
}
.copyright {
	color: #ABB2C7;
}