/** =========================================
1.0  Site Header
========================================== */
.site-header {
	background: #fff;
			
	&-middle {	
		padding: 20px 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	    border-bottom: 1px solid #efebeb;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		position: relative;

		> div {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
	}
}
.site-logo {
	width: 200px;

	img {
		width: 100%;
		height: auto;
	}
}
.site-nav {
	width: calc(100% - 200px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	nav {
		display: block;
		padding: 0;
	}
	.btn {
		display: none;
	}
	@include min-breakpoint(768) {
		.btn {
			display: block;
			font-size: 17px;
			i {
				display: inline-block;
				margin-right: 5px;
			}

		}
	}
	#burgerMenu {
		width: 25px;
	}
	.navbar-toggler {
		padding: 0;

		&-icon {
			width: auto;
			height: auto;
		}
	}
	.navbar {

		&__mobile {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;

				&:hover,
				&:focus {

					.navbar-toggler {
						background: transparent;

						rect {
							fill:  $primary_color;
						}

					}
					a {
						color: $primary_color;

					}
				}
				
		}

		@include breakpoint(767) {
			position: inherit;
		}
		button {
			&:hover,
			&:focus {
				outline: none;
			}
		}
	}
	.navbar-brand {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		@include min-breakpoint(768) {
			display: none;
		}
	}
	.navbar-collapse {
		@include breakpoint(767) {
			margin-top: 20px;
		    position: absolute;
		    z-index: 5;
		    width: 100%;
		    background: #f4f4f7;
		    left: 0;
		    padding: 10px 15px;
		}


	}

}

.main-menu {
	text-align: right;

	li {
		display: inline-block;
		margin-left: 20px;
		padding: 0;

		a {
			font-family: $brand_fontbold;
			font-size: 16px;
			-webkit-transition: color 0.3s ease;
			-o-transition: color 0.3s ease;
			transition: color 0.3s ease;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		&.current-menu-item {
			a {
				color: $primary_color;
			}
		}
	}
}
