/** =========================================
1.0  Site Header
========================================== */
.site-header {
	background: #fff;
		
	&__top {
		background: #f5f5f7;
		padding: 5px 0;
		color: $darkerblue_color;
			
		.grid {
			flex-wrap: wrap;
		}	
		.col {
			&--left,
			&--right {
				padding: 0;
			}
			&--left {
				width: 115px;
				display: flex;
				align-items: center;

				@include min-breakpoint(768) {
					width: 50%;
				}
			}
			&--right {
				width: calc(100% - 115px);
				display: flex;
				justify-content: flex-end;
				align-items: center;


				@include min-breakpoint(768) {
					width: 50%;
				}
				span {
					display: inline-block;
					margin-right: 5px;
					font-size: 16px;

					@include min-breakpoint(768) {
						margin-right: 7px;
					}
				}
			}
		}		
		span {
			font-size: 18px;
			line-height: 1.2;
		}
		.btn {
			padding: 6px 15px;
			font-size: 15px;
			text-transform: uppercase;
			color: $darkerblue_color;

			&:hover {
				color: #fff;
			}

		}
	}	
	&__middle {	
		padding: 20px 0;
		display: flex;
		align-items: center;
	    border-bottom: 1px solid #efebeb;
		justify-content: space-between;
		position: relative;

		> div {
			display: flex;
		}
	}
}
.site-logo {
	width: 130px;
}
.site-nav {
	width: calc(100% - 130px);
	display: flex;
	align-items: center;
	justify-content: flex-end;

	nav {
		display: block;
		padding: 0;
	}
	.btn {
		display: none;
	}
	@include min-breakpoint(768) {
		.btn {
			display: block;
			font-size: 17px;
			i {
				display: inline-block;
				margin-right: 5px;
			}

		}
	}
	#burgerMenu {
		width: 25px;
	}
	.navbar-toggler {
		padding: 0;

		&-icon {
			width: auto;
			height: auto;
		}
	}
	.navbar {

		&__mobile {
			display: flex;
			align-items: center;

				&:hover,
				&:focus {

					.navbar-toggler {
						background: transparent;

						rect {
							fill:  $primary_color;
						}

					}
					a {
						color: $primary_color;

					}
				}
				
		}

		@include breakpoint(767) {
			position: inherit;
		}
		button {
			&:hover,
			&:focus {
				outline: none;
			}
		}
	}
	.navbar-brand {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		@include min-breakpoint(768) {
			display: none;
		}
	}
	.navbar-collapse {
		@include breakpoint(767) {
			margin-top: 20px;
		    position: absolute;
		    z-index: 5;
		    width: 100%;
		    background: #f4f4f7;
		    left: 0;
		    padding: 10px 15px;
		}


	}

}

.main-menu {
	text-align: right;

	li {
		display: inline-block;
		margin-left: 20px;
		padding: 0;

		a {
			font-family: $brand_fontbold;
			font-size: 19px;
			transition: color 0.3s ease;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		&.current-menu-item {
			a {
				color: $primary_color;
			}
		}
	}
}
