/** ----------------
Banner
---------------- **/
.banner {
	position: relative;

	&__sub {
		min-height: 200px;
		background: url(../../assets/images/banner-sub.svg) center center / cover no-repeat;
		display: flex;
		align-items: center;

		h1 {
			color: $w;
			line-height: 1.2;
			font-size: 35px;
			
			@include min-breakpoint(992) {
				padding-right: 320px;
			}
		}
	}
	&-home {
		overflow: hidden;	
		background: url(../../assets/images/banner-5.jpg) center center / cover no-repeat;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(43, 77, 160, 0.90);
			z-index: 2;
		}

		// background: url(../../assets/images/banner-5.jpg) center center / cover no-repeat;
		text-align: center;

		@include min-breakpoint(992) {
			text-align: left;
			min-height: 500px;
		}
		h1 {
			color: #fff;
			line-height: 1.1em;
			font-weight: 600;
			font-size: 36px;
			span {
				color: $primary_color;
			}
			@include min-breakpoint(560) {
				font-size: 40px;
			}
			@include min-breakpoint(767) {
				font-size: 45px;
			}

		}
		p {
			color: #fff;
			font-size: 22px;
		}
		.text-block {
			position: relative;
			z-index: 3;
			padding-top: 30px;
			@include min-breakpoint(992) {
				padding-top: 120px;
			}
		}
	}

	&-form {

		background: rgba(14, 35, 87, 1);
		position: relative;
		z-index: 3;
		margin: 40px auto 20px auto;
		width: 100%;
		max-width: 400px;
		border-radius: 5px;
		overflow: hidden;

		@include min-breakpoint(992) {
			margin: 40px 0;
			max-width: 300px;
			float: right;
		}
		&__header, 
		&__body,
		&__footer {
			padding: 20px 30px;
			color: #fff;
		}
		&__header {
			text-align: center;
			line-height: 1; 
			background: rgba(81, 233, 183, 0.9);
			background: #fff;
			strong {
				display: block;
				color: $darkerblue_color;
				text-transform: capitalize;
				font-size: 30px;
			}
			span {
				font-size: 20px;
				line-height: 1;
				color: $darkerblue_color;
	
			}
		}
		&__body {
			padding-bottom: 10px;
		}
		&__footer {
			padding-top: 10px;
		}
		.counter {
			display: flex;
			flex-wrap: wrap;
		}
		.time {
			width: 25%;
			text-align: center;
			color: #fff;
			span {
				display: block;
				color: $light_color;
				font-size: 13px;
			}
			strong {
				font-size: 20px;
			}

		}
		input {
			background: transparent;
			border: 0;
			padding-left: 0;
			padding_right: 0;
			border-bottom: 1px solid #12307b;


			&[type="submit"] {
				padding: 12px 0;
				text-transform: uppercase;
				margin-top: 7px;
				background: $blue_color;
				border: 0;
				&:hover {
					background: $primary_color;
					color: $darkerblue_color;
				}
			}
			&:focus {
				box-shadow: none;
				outline: none;
				color: #fff;
			}

			&::-webkit-input-placeholder {
		    color: $primary_color;
			}
			&:-moz-placeholder {
			    color:$primary_color;
			}
			&::-moz-placeholder {
			    color: $primary_color;
			    opacity: 1;
			    /* Since FF19 lowers the opacity of the placeholder by default */
			}
			&:-ms-input-placeholder {
			    color: $primary_color;
			}

		}
		.btn {
			width: 100%;
			padding: 8px 20px;
			font-weight: 600;
			background: $primary_color;
			color: $darkerblue_color;
		}
		
	}
	.btn-video {
		margin-top: 30px;
		background: $darkerblue_color;
		-webkit-box-shadow: 0 2px 40px #153688;
		box-shadow: 0 2px 40px #153688;
		font-size: 20px;
		color: #fff;		
		display: inline-flex;
		align-items: center;
		span {
			font-weight: 500;
		}

		i {
			color: $primary_color;
		    font-size: 34px;
		    margin-left: 16px;
		}

		&:hover,
		&:focus  {

			-webkit-box-shadow: 0 3px 60px 3px #061a4c;
			box-shadow: 0 3px 60px 3px #061a4c;
		}
	}

	#closer_videopopup{
	    position: absolute;
	    display: table-cell;
	    right: 2%;
	    top: 2%;
	    font-size: 32px;
	    text-align: center;
	    vertical-align: middle;
	    padding: auto;
	    cursor: default;
	    background: none;
	    border: none;
	    color: $primary_color;


	    z-index: 100004;

	    &:hover {
	    	cursor: pointer;
	    }
	}
	#opct{
	    position: fixed;
	    z-index: 100000;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left:0;
	    bottom: 0;
	    right: 0;
	    filter: alpha(opacity=90);
	    -moz-opacity: 0.90;
	    opacity: 0.9;
	}
	#videCont{
	    position: relative;
	    padding-bottom: 56.25%; /* 16:9 */
	    padding-top: 25px;
	    height: 0;
	    margin: auto;
	    max-width: 720px;
	    height: 0;
	    height: auto !important;
	}
	#yt_video{
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	    max-width: 100%;
	}
	iframe{
	   position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 1 !important;
	}
	video{
	    position: absolute;
	    top: 15%;
	    left: 0;
	    width: 100%;
	    opacity: 1 !important;

	}	
}
