.contact-area {
	@include sectionPaddingMedium;
	position: relative;
	background: rgba(81, 233, 183, 0.9);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/banner-5.jpg) center center / cover no-repeat;
		z-index: -1;
	}
	> div {
		position: relative;
		z-index: 2;
	}
	.sec-title {
		h2 {
			@include headingSecondary;
			text-align: center;
		}
	}

	&__form {
		max-width: 850px;
		margin: 0 auto;
		.row {
			margin-left: -5px;
			margin-right: -5px;

			> div {
				padding-left: 5px;
				padding-right: 5px;
			}
		}

	}
}
.form-alt {
	max-width: 320px;
	margin: 10px auto;
	float: none;
	@include min-breakpoint(992) {
		float: right;
		margin-top: 0;
	}
	&__header {
		background: $darkerblue_color;
		padding: 15px 10px;
		text-align: center;
		h3 {
			color: #fff;
			line-height: 1;
			font-size: 28px;
		}
	}
	&__body {
		background: #fff;
		padding: 25px 20px;
		box-shadow: 0 -3px 48px 0 rgba(0,0,0,0.2); 

		input {
			&:not([type="submit"]) {
				border: 1px solid $darkerblue_color;
			}
			&[type="submit"] {
				width: 100%;
				max-width: 100%;
				color: $darkerblue_color;
				padding: 12px;
				transition: background 0.3s ease;

				&:hover,
				&:focus {
					background: $darkerblue_color;
					color: #fff;
				}
			}
		}
	}
}