.list {
	padding: 0;
	list-style: none;
	min-width: 27em;

	&__item {
		margin-bottom: 0.2em;
		position: relative;

		span {
			font-family:  $body_text;
			display: block;
			padding: 0.2em 0;
			color: #222;
		}

		&.active {
			border-bottom: 1px solid #f1eaea;
			span {
				color: $darker_color;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				right: 0;
				width: 60px;
				height: 5px;
				background-color: $brand_color;
			}
		}



	}
}
