/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ---------------------------------------------------
 * Colors
 * -------------------------------------------------- */

$brand_color : #FDC218;
$darker_color : #222;
$gray_color : #666;

$w			     : #ffffff;
$b			     : #000000;
$primary_color   : #FDC218;
$secondary_color : #2B4DA0;
$dark_color 	 : #222;

/* ---------------------------------------------------
 * Fonts
 * -------------------------------------------------- */

 
 $body_text : 'bariol', "Helvetica Neue", helvetica, arial, sans-serif;
 $body_heading: "bariol", "Helvetica Neue", helvetica, arial, sans-serif;




/* ----------------------------------------------------------------------------
 * Line Height
 * ------------------------------------------------------------------------- */

$primary_line_height : 1.4;
$secondary_line_height : 1.5;
$smaller_line_height : 1.2;
