/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ---------------------------------------------------
 * Colors
 * -------------------------------------------------- */

$brand_color : #FDC218;
$darker_color : #222;
$gray_color : #666;

$w			     : #ffffff;
$b			     : #000000;
$primary_color   : #FDC218;
$secondary_color : #FDC218;
$dark_color 	 : #222;

/* ---------------------------------------------------
 * Fonts
 * -------------------------------------------------- */

 @include fontface('muli', 'assets/fonts/muli', 'Muli');

 $body_text : 'fax sans', sans-serif;
 $body_heading: 'fax sans', sans-serif;




/* ----------------------------------------------------------------------------
 * Line Height
 * ------------------------------------------------------------------------- */

$primary_line_height : 1.4;
$secondary_line_height : 1.5;
$smaller_line_height : 1.2;
