/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ---------------------------------------------------
 * Colors
 * -------------------------------------------------- */

$brand_color : #FDC218;
$darker_color : #222;
$gray_color : #666;

$w			: #ffffff;
$b			: #000000;



/* ---------------------------------------------------
 * Fonts
 * -------------------------------------------------- */

 @include fontface('muli', 'assets/fonts/muli', 'Muli');
 @include fontface('patuaone', 'assets/fonts/patuaone', 'patuaone-regular');
 @include fontface('leaguespartan', 'assets/fonts/league-spartan', 'leaguespartan-bold');
 @include fontface('vidaloka', 'assets/fonts/vidaloka', 'vidaloka-regular');
 @include fontface('glacial', 'assets/fonts/glacial', 'glacialindifference-regular');
 @include fontface('bebas', 'assets/fonts/bebas', 'bebasneue-bold');
 @include fontface('fax sans', 'assets/fonts/fax-sans', 'fax-sans-beta');
 @include fontface('ikaros', 'assets/fonts/ikaros', 'ikaros-regular');
 @include fontface('ikaros light', 'assets/fonts/ikaros', 'ikaros-light');



 $secondary_heading : 'leaguespartan', sans-serif;
 $heading_option_2 : 'vidaloka', sans-serif;
 $body_font : 'glacial';
 $font_heading  : 'bebas', sans-serif;
 $body_text : 'fax sans', sans-serif;





/* ----------------------------------------------------------------------------
 * Line Height
 * ------------------------------------------------------------------------- */

$primary_line_height : 1.4;
$secondary_line_height : 1.5;
$smaller_line_height : 1.2;
